<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> BoolZapp </title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css'
        integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=='
        crossorigin='anonymous' referrerpolicy='no-referrer' />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    
   <div id="app">
        <header id="site_header">
            <div class="head"></div>
        </header>
        <!-- /#site_header -->

        
        <main id="site_main" >
            <div class="wrapper d-flex">

                <div class="container-left">

                    <div class="profile d-flex">
                        <div class="my-info d-flex">
                            <div class="img-profile">
                                <img src="./assets/img/avatar_io.jpg" alt="">
                            </div>
                            <div class="name-profile">
                                Sofia
                            </div> 
                            
                        </div>
                        <div class="utility-icons ">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- /.profile -->

                    <div class="enable-desk-notice d-flex ">
                        <div class=" bell d-flex">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="bell-text">
                            <h4 class="fw-500">Ricevi notifiche di nuovi messaggi</h4>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <!-- /.enable-desktop-notifications -->

                    <div class="search-chat d-flex">
                        <div class="lens d-flex">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="find-chat">
                            <input class="inp-text" type="text"  placeholder="     Cerca o inizia una nuova chat">
                        </div>
                    </div>
                    <!-- /.search-chat -->

                    <div class="chat-users" >
                        <div class="chat-user d-flex" v-for="(contact, index) in contacts" 
                        :class="index === active ? 'active' : '' "
                        @click="selected_chat(index)">
                            <div class="img-user">
                                <img :src="'./assets/img/avatar' + contact.avatar + '.jpg' " alt="">
                            </div>
                            <div class="text-user">
                                <h5 class="fw-500">{{contact.name}}</h5>
                                <p>ultimo messaggio inviato</p>
                                <span >12:00</span>
                            </div>
                       </div>
                    </div>
                    <!-- /.user-chat -->

                </div>
                <!-- /.container-left -->

                <div class="container-right">

                    <div class="current-chat d-flex">
                        <div class="about-user d-flex"  >
                            <div class="image-current-chat">
                                <img :src=" './assets/img/avatar' + contacts[active].avatar + '.jpg' " alt="">
                            </div>
                            <div class="info-user" >
                                <h4 class="fw-500">{{contacts[active].name}}</h4>
                                <p>{{contacts[active].messages[active].date}}</p>
                            </div>
                        </div>
                        <!-- /.about-user -->

                        <div class="utility-icons p-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <!-- /.utility-icons -->
                    </div>
                    <!-- /.current-chat -->

                    <div class="chat-area">

                        <div class="container-message-area">
                            <div class="message-area">

                                <div class="user-message" 
                                :class="message.status === 'sent' ? 'sent-message' : 'received-message' "
                                v-for="(message, index) in contacts[active].messages">
                                    {{message.message}}
                                    <!-- <div class="received-message d-flex">
                                        <p>{message.message}</p>
                                        <span>12:00</span>
                                    </div>
                                    <div class="sent-message d-flex">
                                    <p>tutto bene bro</p> 
                                    <span>12:00</span>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.message-area -->

                        <div class="write-text-area d-flex">
                            <div class="emoji">
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <input type="text" placeholder="    scrivi un messaggio">
                            <div class="vocal-message">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>
                        <!-- /.write-text-area -->
                    </div>
                    <!-- /.chat-area -->


                </div>
                <!-- /.container-right -->
                
            </div>
            <!-- /.wrapper -->

        </main>
        <!-- /#site_main -->
   </div>
   <!-- /#app -->




    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>